body {
  background-color: navy;
  color: azure;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
}

a {
  color: lightgreen;
  font-size: 0.9em;
  padding: 0 2px;
}

main {
  margin: 5vh 0;
}

nav {
  margin-top: 1vh;
}
