body {
  background-color: navy;
  color: gold;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
  color: lightgreen;
}

main {
  margin: 7vh 0;
}
