body {
  background-color: navy;
  color: azure;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
}

a {
  color: lightgreen;
  font-size: 0.9em;
  padding: 0 2px;
}

main {
  margin: 5vh 0;
}

section {
  margin: 15vh 0;
}

div {
  width: 340px;
  margin: 3vh auto;
  padding: 3vh;
  border: 1px solid lightgreen;
  border-radius: 9px;
  box-shadow: 3px 3px 3px lightgreen;
}

nav {
  margin-top: 1vh;
}
