{% extends 'base.html' %}

{% block title %}Course Detail{% endblock %}

{% block content %}

  <h2>Course Detail</h2>
  <h4>Title: {{ course.title }}</h4>
  <h5>Topics: {{ course.topic.all|join:', ' }}</h5>
  <h5>Summary: {{ course.summary }}</h5>
  <h5>Level: {{ course.level }}</h5>
  <h5>Author: {{ course.author }}</h5>
  <h5>Last update: {{ course.modified }}</h5>
  <p>- - -</p>
  <a href="{% url 'course_update' course.id %}">Update course</a>
  <a href="{% url 'course_delete' course.id %}">Delete course</a>

{% endblock %}
